// COLORS
$Midnight-Green:#002529;
$Light-Coral: #F67E7E;
$white: #ffffff;
$Deep-Jungle-Green:#002529;
$header-bg:#014E56;
$Police-Blue:#2C6269;
$Rapture-Blue:#79C8C7;
// FONTS
$font-stack: "Arial", sans-serif;