.hero-section {
    padding: 140px 0;
    position: relative;
    background-color: $Deep-Jungle-Green;
     &::before{
            display: inline-block;
            position: absolute;
            background-image: url(../../imges/disk.svg);
            width: 200px;
            height: 200px;
            top: 0;
            left: calc(50% - 870px);
            background-repeat: no-repeat;
            content: '';   
            }
            &::after{
                display: inline-block;
                position: absolute;
                background-image: url(../../imges/clients-bg.svg);
                width: 200px;
                height: 200px;
                top: 500;
                left: calc(50% - 970px);
                background-repeat: no-repeat;
                content: ''; 
            }
}
.hero-section__title-wrapper {
    text-align: center;
    margin-bottom: 60px;
}
.hero-section__title {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    color: $white;
}
.hero--section__cards {
    @include list-unstyled;
    display: flex;
    margin-right: -20px;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-section__item {
    width: 330px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 75px;
    padding: 35px 25px 55px 25px;
    background-color: $header-bg;
    border-radius: 5px;
    text-align: center;
}
.hero-section__item-user {
    border-radius: 50%;
}
.hero-section__item-title {
    color: #79C8C7;
}
.hero-section__item-text {
    color: #fff;
    font-style: italic;
}
.hero-section__item-content-wrpper{
    display: block;
}
.hero-section__item-hover-content-wrapper {
    margin-top: 35px;
}
.hero-section__item-hover-title {
    margin: 0;
    margin-bottom: 8px;
    color: #79C8C7;
}
.hero-section__item-hover-text {
    color: $white;
}
@include breakpoint-down (700px){
    .hero-section__item {
        width: 300px;
    }
    .hero-section__item-plus{
        left: 120px;
    }
}
.hero-section__toggler{
    width: 56px;
    height: 56px;
    position: absolute;
    z-index: 1;
    bottom: -28px;
    left: calc(50% - 28px);
    background-color: #F67E7E;
    background-image: url(../../imges/icon-plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.hero-section-button--active
.hero-section__toggler{
  transform: rotate(45deg);
  background-color: #79C8C7;
}

.hero-section__item-content-wrpper{
    display: flex;
    flex-direction: column;
    place-items: center;
    backface-visibility: hidden;
    transition: transform 0.3s ease;
}
.hero-section-button--active
.hero-section__item-content-wrpper{
  transform: rotateY(180deg);
}
.hero-section__item-hover-content-wrapper{
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    padding-bottom: 56px;
    flex-direction: column;
    place-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.3s ease;
    overflow: auto;
}
.hero-section-button--active
.hero-section__item-hover-content-wrapper{
  transform: rotateY(360deg);
}
.hero-section__item-cards {
    @include list-unstyled;
    margin-top: 24px;
    display: flex;
    list-style: none;
}
.hero-section__item-card {
    &:not(:last-child){
        margin-right: 16px;
    }

}